VALIDATOR_PK=

# EXPANDED NODE RPC ex) infura, alchemy, etc...
# Type of value must be an array.
# ex) ["https://mainnet.infura.io/v3/[PROJECT_ID]", "https://eth-mainnet.g.alchemy.com/v2/[PROJECT_ID]"]
AVAX=[]
BSC=[]
CELO=[]
ETH=[]
FANTOM=[]
HECO=[]
KLAYTN=[]
MATIC=[]
XDAI=[]

# KAS CREDENTIAL
KAS_ACCESS_KEY_ID=
KAS_SECRET_ACCESS_KEY=

# TON API KEYS
# 📌 REQUIRED: Provide AT LEAST TWO TON API keys below for stable and redundant access.
# https://toncenter.com/
TON_API_KEY=

# https://www.quicknode.com/
QUICKNODE_API_KEY=

# https://chainstack.com/
CHAINSTACK_API_KEY=

# https://getblock.io/
GETBLOCK_JSON_RPC_API_KEY=
GETBLOCK_INDEXER_V3_API_KEY=