# IDE
## webstorm?
.idea/
## vscode
.vscode/
## MacOS
*.DS_Store

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# node dependency
## installed modules
node_modules/
## package manager things
package-lock.json
yarn.lock
## nvm
.nvmrc

# dotenv environment variables file
.env

# config
settings.js